* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color-scheme: dark;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border-color);
  box-shadow: inset 0 0 10px 1px var(--primary-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-op);
}
:root {
  --primary-color: #2b2f3a;
  --primary-color-op: #2b2f3a99;
  --sec-color: #ffb74d;
  --sec-color-op: #ffb74d99;
  --border-color: #26a69a;
  --border-color-op: #26a69a99;
  --font-color: #e0e0e0;
  --font-color-op: #e0e0e099;
  --warning-color: #e91e63;
  --warning-color-op: #ea6a94;
  --cols: 4;
}
body {
  font-family: "Oswald";
  color: var(--font-color);
}
hr {
  border: 4px solid var(--font-color);
  box-shadow: 0 0 5px 1px var(--sec-color-op);
}
ul {
  list-style: none;
}
img {
  transition: 0.5s;
  width: 100%;
  object-fit: contain;
}
.title {
  width: 60%;
  margin: 80px auto 0;
  text-align: center;
  position: relative;
  font-size: clamp(2rem, 2.5rem, 4rem);
  font-weight: bold;
  color: var(--sec-color);
  transition: 0.4s;
}
.title::after {
  content: "";
  position: absolute;
  width: 15rem;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  border-radius: 10px;
  background-color: var(--warning-color);
}
.title:hover {
  text-shadow: 2px 2px 5px var(--font-color);
}
.container {
  width: 90dvw;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
/* header */
header {
  width: 100%;
  height: clamp(60px, 10dvh, 80px);
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  z-index: 998;
}
header .head-content {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  padding: 10px;
  align-items: center;
  font-size: clamp(1rem, 1.8dvw, 2rem);
}
header .head-content .logo {
  grid-column: 1/4;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 1dvw;
}
header .head-content .logo .logo-name {
  white-space: nowrap;
  color: var(--sec-color);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
header .head-content nav {
  grid-column: 4/13;
}
header .head-content nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2dvw;
}
header .head-content nav ul.icon-bar a.active,
header .head-content nav ul.icon-bar a:hover,
header .head-content nav ul.icon-bar a:focus {
  color: var(--sec-color);
}
header .head-content .logo img {
  width: 40px;
}
#user_info {
  display: none;
}
header .head-content nav .user {
  position: relative;
}
header .head-content nav .Shopping-cart {
  position: relative;
}
header .head-content nav .Shopping-cart .badge {
  position: absolute;
  right: 10%;
  top: 90%;
  color: var(--primary-color);
  font-size: 14px;
  background-color: var(--sec-color);
  padding: 2px 5px;
  border-radius: 50%;
  z-index: 999;
}
header .head-content nav .user .user-detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 30dvw, 100%);
  top: 40px;
  right: -80px;
  background-color: var(--primary-color);
  padding: 30px 40px;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  transform: scaleY(0);
  transition: 0.4s;
  transform-origin: top;
}
header .head-content nav .user .user-detail li :hover {
  color: var(--sec-color);
  cursor: pointer;
}
header .head-content nav .user .user-detail li {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 10px 0;
}
.showY {
  transform: scaleY(1) !important;
}
.search-bar {
  width: 100%;
  position: fixed;
  background-color: var(--primary-color-op);
  height: 70px;
  z-index: 998;
  padding: 10px;
  top: clamp(60px, 10dvh, 80px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transform: scaleY(0);
  transition: 0.4s;
  transform-origin: top;
}
.search-bar .searching-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--font-color);
  font-size: clamp(1rem, 1.5dvw, 1.5rem);
  gap: 5dvw;
}
.search-bar .searching-area select {
  width: 45dvw;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  outline: none;
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
}
.search-bar .searching-area select option {
  background-color: var(--primary-color-op);
}
.search-bar .searching-area input[type="search"] {
  width: 45dvw;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
}
.search-bar .searching-area input[type="search"]:focus {
  outline: none;
}
/* bodyform
 */
/* side bar */
.side-cart {
  position: fixed;
  z-index: 997;
  top: 60px;
  right: 0;
  background-color: var(--primary-color-op);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  height: 100dvh;
  transform: scaleX(0);
  width: clamp(300px, 500px, 100dvw);
  transform-origin: right center;
  transition: 0.4s;
  padding: 20px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}
.side-cart::-webkit-scrollbar {
  width: 0px;
}
.side-cart:focus {
  outline: none;
}
.showandhide {
  display: none;
}
.show {
  transform-origin: right center;
  transition: 0.4s;
  transform: scaleX(1);
}
.side-cart .sold {
  width: 100%;
  aspect-ratio: 16/12;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  height: 70px;
  border: 3px solid var(--border-color);
  padding: 5px 20px;
}
.side-cart .sold span:hover {
  color: var(--sec-color);
}
.side-cart .sold .image {
  width: 20%;
  max-height: 100%;
}
.side-cart .sold .image img {
  width: 100%;
  aspect-ratio: 16/11;
}
.side-cart .sold .data {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px 10px;
  padding: 5px;
  font-size: clamp(1rem , 1.2dvw + 0.25rem,2rem);
  white-space: nowrap;
}
.side-cart .sold .data span:first-child {
  width: 50%;
}
.side-cart .sold .data button {
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: var(--font-color-color);
}
.side-cart .sold .data button:hover {
  color: var(--sec-color);
}
.side-cart .sold .data button:focus {
  transform: scale(1.2);
}
.side-cart a {
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--font-color);
  text-decoration: none;
}
.side-cart a:hover {
  color: var(--sec-color);
}
/*  form section for login & register page   */
.section-form {
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: calc(100dvh - 50px);
  margin: 0px auto;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10dvh;
}
.section-form h2 {
  margin-top: 30px;
  color: var(--font-color);
  font-size: clamp(2rem, 4dvw, 5rem);
  letter-spacing: 2px;
  transition: 0.4s;
}
.section-form h2:hover {
  text-shadow: 3px 3px 15px var(--font-color-op);
  transform: scale(1.1) skew(5deg);
}
.section-form form {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: clamp(300px, 50%, 90dvw);
  min-height: 50%;
  border: 5px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px auto;
  transition: 0.4s;
}
.section-form form:hover {
  box-shadow: 0px 0px 25px 10px var(--border-color-op),
    0px 0px 25px 10px var(--border-color-op) inset;
}
.section-form form input {
  width: 80%;
  height: 2.5rem;
  padding: 5px 10px;
  border: 3px solid var(--border-color);
  border-radius: 6px;
  caret-color: var(--font-color);
  color: var(--font-color);
  background-color: transparent;
  transition: 0.4s;
}
.section-form form input:focus {
  border: 3px solid var(--sec-color);
  outline: none;
  background-color: var(--primary-color-op);
}
.section-form form input.error {
  border: 3px solid var(--warning-color);
}
.section-form form input[type="submit"] {
  width: 30%;
  min-height: 50px;
  font-weight: bold;
  font-size: larger;
  background: linear-gradient(
    -45deg,
    var(--primary-color) 40%,
    var(--warning-color)
  );
  transition: 0.4s;
  cursor: pointer;
}
.section-form form input[type="submit"]:active {
  transform: scale(0.8);
}
.default a {
  color: var(--border-color);
}
.default a:hover {
  color: var(--sec-color);
}
/* main page  */
.main-section {
  width: 100%;
  min-height: 100dvh;
  margin: 100px auto;
}
.main-section .products {
  margin: 80px auto;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(
    var(--cols),
    minmax(calc(90dvw / var(--cols)), 1fr)
  );
  gap: 20px;
  padding: 0 20px;
}
.main-section .products .product {
  /* max-width: 75dvw; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border: 5px solid var(--border-color);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
.main-section .products .product .product-image {
  width: 100%;
  aspect-ratio: 16/16;
  border-bottom: 5px solid var(--border-color);
  overflow: hidden;
  border-radius: 10px;
}
.main-section .products .product img {
  transition: all 0.5s;
  filter: brightness(80%);
  border-radius: 10px;
  /* aspect-ratio: 16/11; */
}
.main-section .products .product:hover img {
  transform: scale(1.2);
  filter: brightness(110%);
}
.main-section .products .product .product-desc {
  display: flex;
  flex-direction: column;
  gap: 1dvh;
  width: 100%;
}
.main-section .products .product .product-desc p {
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 100%;
}
.main-section .products .product .product-desc p:hover {
  color: var(--sec-color);
}
.main-section .products .product .product-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-section .products .product .product-btns button.productBtn {
  border: 3px solid var(--border-color);
  color: var(--font-color);
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: medium;
  transition: 0.4s;
  cursor: pointer;
  transition: 0.5s;
}
.main-section .products .product .product-btns button.productBtn {
  color: var(--sec-color);
}
.main-section .products .product .product-btns button.productBtn:active {
  scale: 0.8;
  border-color: var(--warning-color);
}
.main-section .products .product .product-btns button:last-child {
  font-size: xx-large;
  background-color: transparent;
  border: none;
  color: var(--font-color);
  :hover {
    color: var(--warning-color-op);
    cursor: pointer;
  }
}
.main-section .products .product .product-btns .fav {
  color: var(--warning-color) !important;
}
/* cart section */
.cart-section {
  width: 100%;
  height: fit-content;
}
.cart-section .sold-Products {
  border: 5px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
}
.sold-Products .product {
  width: clamp(250px, calc((90dvw - 100px) / 2), 80dvw);
  height: clamp(200px, 300px, 80dvh);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 20px 6px inset #2b2f3a;
}
.sold-Products .product .image {
  display: flex;
  width: clamp(160px, 250px, 90%);
  justify-content: center;
  align-items: center;
  border: 3px solid var(--border-color);
  border-radius: 6px;
  padding: 5px;
  overflow: hidden;
  transition: 0.4s;
}
.product .image:hover {
  box-shadow: 0 0 15px 5px var(--border-color);
}
.product .image img:hover {
  transform: scale(1.2);
}
.sold-Products .product .info {
  flex: 2;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: flex-start;
  justify-content: space-between;
}
.sold-Products .product .info .data {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 1.2rem;
  flex: 3;
}
.sold-Products .product .info .data :hover {
  color: var(--sec-color);
}
.sold-Products .product .info .buttons {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.sold-Products .product .info .buttons .number {
  border: 3px solid var(--border-color);
  border-radius: 8px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1.5rem;
}
.sold-Products .product .info .buttons .remover {
  flex: 2;
  padding: 5px 5px;
  margin-left: auto;
  border: 3px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--warning-color);
  color: var(--font-color);
  cursor: pointer;
  transition: 0.4s;
}
.sold-Products .product .info .buttons .remover:active {
  transform: scale(0.9);
  border-color: var(--sec-color);
  color: var(--sec-color);
}
.sold-Products .product .info .buttons .add,
.sold-Products .product .info .buttons .remove {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: var(--font-color);
  cursor: pointer;
}
.sold-Products .product .info .buttons .add:hover,
.sold-Products .product .info .buttons .remove:hover {
  color: var(--sec-color);
}
.cart-section .total {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  font-size: clamp(1.8rem, 2.1dvw + 0.25rem, 5rem);
  color: var(--sec-color);
  white-space: nowrap;
}
/* cart fav items */
.favs-cart {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin: 40px auto;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
.myFavourits .container {
  position: relative;
}
.favs-cart::-webkit-scrollbar {
  height: 5px;
  transition: 0.4s;
}
.favs-cart .fav-product {
  scroll-behavior: smooth;
  scroll-snap-align: center;
  min-width: calc(90% / var(--cols));
  width: calc(100% / var(--cols));
  max-height: 320px;
  transition: 1s;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: 10px;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 0 0 5px 4px var(--warning-color);
}
.favs-cart .fav-product:hover {
  box-shadow: 0 0 5px 4px var(--warning-color-op);
}
.favs-cart .fav-product:hover .image img {
  box-shadow: 0 5px 5px 4px var(--sec-color);
}
.favs-cart .fav-product .image {
  padding-top: 5px;
  grid-area: 1/2/8/12;
  img {
    width: 100%;
    aspect-ratio: 16/14;
    border-radius: 20px;
  }
}
.favs-cart .fav-product .fav-data {
  grid-area: 8/2/10/10;
  font-size: clamp(1rem, 1.2dvw, 2rem);
  white-space: nowrap;
}
.favs-cart .fav-product .favBtn {
  grid-area: 8/10/11/12;
  background-color: transparent;
  border: none;
  color: var(--warning-color);
  font-size: 2rem;
  transition: 0.4s;
  cursor: pointer;
}
.favs-cart .fav-product .favBtn:active {
  transform: scale(0.9);
}
.myFavourits .slide-btns {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.myFavourits .slide-btns .btn {
  background-color: transparent;
  border: none;
  color: var(--font-color-op);
  transition: color 0.4s;
  z-index: 2;
  font-size: clamp(2rem, 5dvw, 4rem);
}
.myFavourits .slide-btns .btn:hover {
  color: var(--font-color);
  animation: shake 0.3s ease-out 0s 1 both;
}
/* Slideshow container */
.slide-show {
  margin-top: 70px;
  margin-bottom: 40px;
  min-height: calc(90dvh - 80px);
  max-height: 100dvh;
}
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.mySlides img {
  max-height: 95dvh;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--sec-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: var(--primary-color);
}
.text {
  color: var(--sec-color);
  font-size: clamp(1rem, 2.5dvw, 3rem);
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 25%;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--sec-color-op);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots {
  text-align: center;
}
.dots .active,
.dot:hover {
  background-color: var(--sec-color);
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
/* //////// */
.footer {
  background: #0d1117;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  color: #fff !important;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer .footer-left {
  width: 40%;
}

.footer h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer h3 span {
  color: teal;
}

/* Footer links */

.footer .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer .footer-name {
  color: teal;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer .footer-center {
  width: 35%;
}
.footer .logo{
  transform: scale(1.6);
  transform-origin:center ;
}
.footer .logo:hover{
  animation: logo 1.5s  both ease-in-out ;
  cursor: pointer;
}
@keyframes logo {
  0%,100% {
    transform: translateX(0) rotate(0deg) scale(1.6)  ;
  }
  50%{
    transform:  translateX(300px)  rotate(720deg) scale(1.6)  ;
  }
}
.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: teal;
  text-decoration: none;
}

.footer .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right {
  width: 20%;
}

.footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-socials {
  margin-top: 25px;
}

.footer .footer-socials a {
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.footer .logo {
  max-width: 100px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .footer {
    font: bold 14px sans-serif;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
}

/* media query */
@media (width <= 1120px) {
  :root {
    --cols: 3;
  }
  .sold-Products .product {
    margin: auto;
    width: 70dvw;
    justify-self: center;
  }
}
@media (width <= 770px) {
  :root {
    --cols: 2;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  .sold-Products .product {
    flex-direction: column;
    width: 60dvw;
    height: 80dvh;
    align-items: center;
  }
  .slide-show {
    min-height: 30dvh;
  }
}
@media (width <= 570px) {
  :root {
    --cols: 1;
  }
  .slide-show {
    min-height: 30dvh;
  }
  .sold-Products .product {
    width: 90dvw;
  }
}
.grow {
  animation: grow 0.2s ease-in-out 4 both;
}
@keyframes grow {
  50% {
    transform: translateY(-20%) scale(1.1);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  50%,
  90% {
    transform: translateX(-5px);
  }
  30%,
  80% {
    transform: translateX(5px);
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.spin{
  animation: spin 1.5s linear infinite both ;
  transform: scale(1.3);
}
.spin:hover{
  animation-play-state: paused;
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.3);
  }
  100%{
    transform: rotate(360deg) scale(1.3);
  }
}